
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RobotoBold';
  src: url('/fonts/Roboto/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open-Sans';
  src: url('/fonts/Open-Sans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
