@font-face{
    font-family:"UbuntuCondensed-Regular";
    src:local('UbuntuCondensed-Regular'), url(../fonts/UbuntuCondensed-Regular.otf);
}
@font-face{
    font-family:"OpenSans-CondLight";
    src:url(../fonts/OpenSans-CondLight.ttf);
}
@font-face{
    font-family:"OpenSans-ExtraBold";
    src:url(../fonts/OpenSans-ExtraBold.ttf);
}
html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      position: relative;
      margin: 0;
      font-family: 'OpenSans-CondLight' !important;
    }
    
    .wrapper {
      background:url(../img/pravo.jpg);
    
      margin:0 auto;
      overflow:hidden;
      
    }
    
    .wrapperLanding {

      margin: 0 auto; 
      overflow: hidden;
      height: 100%;
      overflow-y:auto;
      
    }
    
    a {
      text-decoration: none;
    }
    
    h1,h2,h3,h4,h5,h5
    {
      font-family: 'Open Sans' !important;
    }
    h1, h2 {
      width: 100%;
      float: left;
    }
    h1 {
      color: #000;
      margin-bottom: 5px;
      letter-spacing: 0px;
      font-weight: 100;
    }
    h1 span {
      margin: 0 5px;
      text-transform: capitalize;
      background: rgba(0,0,0,0.85);
      display: inline-block;
      color: #6D461D;
      border-radius: 5px 5px;
      -webkit-border-radius: 5px 5px;
      -moz-border-radius: 5px 5px;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
      padding: 3px 10px;
    }
    h2 {
      
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .logo{
      width: 60px;
      transition: all .2s ease-in-out;
    }
    .large-logo{
      width: 600px;
      /*padding-top: 148px;*/
    }
        .flip-container, .front, .back {
         width: 600px;
      margin: auto;
        }
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform: translateY(50%);

}
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.back-title{
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.back p {
    font-size: 29px;
  color: white;
  font-weight: normal
}
.flip-container:hover .front, .flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}
.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;
  display: none;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.flip-container:hover .back, .flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
    background: rgba(59, 75, 99, 0.66) !important;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  height: 300px;
}
    .navbar-default{
        background-color: rgba(0, 0, 0, 0.9) !important;
        border: none !important;
    }
    .navbar-brand{
      padding: 0px 0px !important;
    }
    .navbar-default .navbar-nav>li>a{
      color: rgb(255, 255, 255) !important;
      font-family: Open Sans !important;
      font-size: 16px !important;
    }
    .pointer {
      color: #9b59b6;
      font-size: 30px;
      margin-top: 15px;
    }
    .navbar-nav>li>a{
      font-size: 20px;
      padding-top: 24px;
      -webkit-transition:text-shadow 0.1s linear;
      transition:text-shadow 0.1s linear;
    }
    .navbar-default .navbar-nav>li>a:not(.loginLink), .navbar-default .navbar-nav>li>a:not(.loginLink){
        
        border-bottom: 6px solid transparent;

        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
    }

    .navbar-default .navbar-nav>li>a:not(.loginLink):focus, .navbar-default .navbar-nav>li>a:not(.loginLink):hover{

        border-bottom: 4px solid #E6195E;
        color: #E6195E !important;    

    }
    code {
      margin: 20px 1%;
      float: left;
      width: 48%;
      height: 105px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      border-radius: 5px;
      padding:5px;
      color: white;
      text-align: center;
      font-size: 15px;
      margin-top: 25px;
      display: block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    code.html {
      color: #7EC9E6;
    }
    code.js {
      color: #FFAD00;
    }

    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
    .main h1 {
      float: left;
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      color: black;
      margin: 20px;
      text-align: center;
    }
   
    .main h1.demo1 {
      background: #1ABC9C;
    }
    
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    
    .reload{
      display: inline-block;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #CC3126;
      display: inline-block;
      line-height: 100%;
      padding: 0.7em;
      text-decoration: none;
      color: #fff;
      width: 100px;
      text-transform: none !important;
      line-height: 140%;
      font-size: 25px;
      padding: 5px 15px !important;
      font-family: 'OpenSans-CondLight' !important;
      text-shadow: 0px 0px 1px !important;
      font-weight: bold;
    }
    .reload:hover{
      background: #444;
    }
    .btn {
      width: 200px;
      color: rgb(255, 255, 255);
      
      background: rgba(3, 3, 3, 0.75);
    }
    .clear {
      width: auto;
    }
    .btn:hover, .btn:hover {
      background: #444;
    }
    .btns {
      width: 410px;
      margin: 50px auto;
    }
    .credit {
      text-align: center;
      color: rgba(0,0,0,0.5);
      padding: 10px;
      width: 410px;
      clear: both;
    }
    .credit a {
      color: rgba(0,0,0,0.85);
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
    
    .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      font-size: 13px;
      color: #000;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
    .back:hover {
      color: black;
      background: rgba(255, 255, 255, 0.5);
    }
    
    header {
      position: relative;
      z-index: 10;
    }
    .main section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 80%;
      z-index: 3;
    }
    .main section  {
    overflow:hidden;
    }
    
    .main section > img {
      position: absolute;
      max-width: 100%;
      z-index: 1;
    }
    
    .main section.page1 {
      background:url(../img/bg-top.jpg);
      background-size: cover;
      background-attachment: fixed;
      min-height: 100vh;
      box-shadow: 0px 11px 30px #111;
    }
    .main section.reg .page_container{
      top: 0%!important;
    }
    .main section.reg{
      background:url(../img/bg4.jpg) !important;
      background-size: 100% !important;
      background-repeat: no-repeat !important;
    }
    .main section.page1 h1 {
      text-align: center;
      padding: 0;
      margin-top: 100px;
      margin-bottom: 15px;
      color: white;
    }
    .main section.reg h1{
      letter-spacing: 5px;
    }
    .main section.page1 h2 {
      color: rgba(0,0,0,0.85);
      text-align: center;
      width: 435px;
      line-height: 160%;
    }
    .main section .page_container .btns {
      clear: both;
      float: left;
      text-align: center;
      width: 435px;
    }
    .main section .page_container .btns a{
      text-align: center;
    }
    .main section.page2 {
       background:url(../img/bg-top.jpg);
    }
    .main section.page2 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px;
    }
    .main section.page2 .page_container {
      overflow: hidden;
        top: 10%;
    }
    .main section.page4 .page_container {
      overflow: hidden;
        top: 10%;
    }
    .main section.page2 h1 {
      text-align: center;
      padding: 0;
      margin-top: 5px;
      font-size: 50px;
      letter-spacing: -1px;
      color: rgb(31, 23, 23);
    }
    .main section.page2 h2 {
      color: rgba(255,255,255,0.85);
      text-align: center;
      line-height: 160%;
      font-weight: 100;
    }
    .viewing-page-2 .back{
      background: rgba(0, 0, 0, 0.25);
      color: #FFF;
      }
    .main section.page3 {
   
     background:url(../img/patt.jpg);
     background-position: left, right;
     padding: 80px 15%;


    }
    .main section.page3 .page_container {

    }
    .main section.page3 h1 {

    }
    .main section.page3 h2 {

    }
    
    body.disabled-onepage-scroll .onepage-wrapper  section {
      min-height: 100%;
      height: auto;

    }
    
    body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
      padding: 20px;
      margin-top: 150px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    body.disabled-onepage-scroll  section .page_container h1{
      text-align: center;
    }
    body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
      text-align: center;
      width: 100%;
    }
    
    body.disabled-onepage-scroll .main section.page1 > img {
      position: absolute;
      width: 80%;
      left: 10%;
    }
    
    body.disabled-onepage-scroll .main section > img {
      position: relative;
      max-width: 80%;
      bottom: 0;
    }
    body.disabled-onepage-scroll code {
      width: 95%;
      margin: 0 auto 25px;
      float: none;
      overflow: hidden;
    }
    
    body.disabled-onepage-scroll .main section.page3 .page_container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      right: 0;
    }


    .navbar-default{
      background-color: #000000;
      border-color: #000000;
    }
    
    nav li{
      float: none;
    }
    .navbar-nav>li{
      float: none;
    }
    nav ul{
      text-align: center !important;

    }

    ul li,ol li
    {
      font-family: Roboto !important;
    }
    .nav>li{
      display: inline-block;
    }
    .navbar-brand {
      padding: 15px 0px;
    }
    .main section.page4 h1 {
      text-align: center;
      padding: 0;
      margin-top: 40px;
      margin-bottom: 15px;
      color: #333;
    }
    .main section.page5 .page_container{
        overflow: hidden;
        top: 12%;
    }
    .main section.page5 h1 {
      text-align: center;
      padding: 0;
      margin-top: 70px;
      letter-spacing: -1px;
      color: rgb(31, 23, 23);
    }
    .poly{
      margin: auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
        background-color: rgb(30, 164, 248);
        background-color: linear-gradient(to right, #ba59a6 0%, #69aed8 50%, #1c12a8 100%);
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 1px 1px 1px solid black;

      box-shadow: 1px 0px 30px rgb(0,85,255);
      margin-bottom: 20px;
      -webkit-transition:all 0.3s linear;
      transition:all 0.3s linear;
    }
    .poly:hover{
       -moz-transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    -o-transform: scale(1.2); 
    transform: scale(1.2);
    }
    .ro{
      margin-bottom: 20px;
    }
    .poly:before{
      content: "";
      top: 10px;
      width: 10px;
      height: 10px;
      background:red; 
    }
     .icon1{
      background-image: url(../img/icon1.png);
    }
     .icon2{
      background-image: url(../img/icon2.png);
    }
     .icon3{
      background-image: url(../img/icon3.png);
    }
     .icon4{
      background-image: url(../img/icon4.png);
    }
     .icon5{
      background-image: url(../img/icon5.png);
    }
    .icon6{
      background-image: url(../img/icon6.png);
    }
    .content-container{
      margin-top: 110px;
    }
    .poly-text{
      text-align: center;
      color: rgb(0, 0, 1);
      font-size: 20px;
      padding: 0px 40px;
      text-shadow: 0px 0px 1px black;
    }
    .page4{
      display: none;
      background: url(../img/1slide.png) !important;
      background-size: 100% !important;
      background-repeat: no-repeat !important;
    }
    .review-photo{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgb(153, 152, 152);
    }
    .rev{
      margin-top: 60px;
    }
    .rev-text{
      font-size: 19px;
      font-weight: bold;
    }
    .rev-author{
      font-size: 16px;

      font-weight: bold;
    }
    .carousel-indicators{
      bottom:-25px !important;
    }
    .carousel-indicators li{
      border: 1px solid #6E6E6E;
    }
    
    .aft-reg-title{
      font-family: 'OpenSans-CondLight';
      font-size: 24px;
    }
    .aft-reg-text{
      font-family: 'OpenSans-CondLight';
      font-size: 19px;
      color: white;
    }
    .aft-reg-field{
      background:rgba(0, 0, 0, 0.31);
      margin-bottom: 30px;
    }
    .made_by{
      padding-top: 15px;
      font-size: 16px;
      padding-right: 10px;
    }
    .excelsior{
      display: inline-block;
      width: 50px;
      padding-left: 10px;
    }
    @media screen and (max-width: 800px){
     
      .large-logo{
        width: 280px;
      }

      .flip-container, .front, .back{
        width: 300px;
       
      }
    }
    @media screen and (max-width: 600px){
      .front{
        display: none;
      }
      .back{
          transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          -webkit-backface-visibility:visible;
          backface visibility: visible;
      }
      .flip-container, .front, .back{
        width: auto;
      }
      body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container{
        margin-top: 70px;
      }
}
     @media screen and (max-width: 400px){
          
        .tabs .tab a
        {                
          font-size: 9px;
          font-weight: bold; 
        }

        .myCard
        {
          padding-bottom: 2em 1em;
        }

        .myCard ul, .myCard ol
        {
          padding: 1em !important;
        }
        
        #madeBy
        {
          width: 100%;
        }

        .navbar-default.navbar-toggle
        {
          margin-bottom: 0 !important;
        }
  
        .flip-container
        {
          -webkit-transform: none !important;
             -moz-transform: none !important;
              -ms-transform: none !important;
               -o-transform: none !important;
                  transform: none !important;
        }

        .page_container
        {                
          height: 100vh;
          display: flex;
          align-items: flex-start;
          justify-content: center;
        }
  
        .materialPostBlack
        {
            padding: 0px 20px !important;
            text-align: left !important;
        } 
    
        .logo{
          width: 60px !important;
        }

        .main h1
        {
          margin: 0 !important;
        }

        .mogomogo
        {
          display: none !important;
        }
        
        .main section.page3{
          padding: 80px 4%;
        }
  
       body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container{
        margin-top: 70px;
      }
      .ss3{
        display: none; 
    }

      body.disabled-onepage-scroll section .page_container h1{
        font-size: 38px;
      }
      
      .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border: none;
        background: rgba(0, 0, 0, .9);
        width: 100%;
      }

      .navbar-collapse
      {
        box-shadow: none !important;
      }

      .navbar-nav
      {
        margin: 0 !important;
      }

      .collapseIt
      {
        padding: 0 !important;
      }

      .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
         background-color: rgba(0, 0, 0, 0.37);
      }
      .navbar-default .navbar-toggle{
        border: none !important; 
        background: transparent !important;
        margin: 5% 0;
      }
      .main section.page1{
          background-size: cover;
          background-position: 50% !important;
      }
      .back p {
        font-size: 14px;
      }
     
      .content-container{
        margin-top: 130px;
      }
    }


.materialPost
{
  background: white;
  padding: 10px;
  border-radius: 0px 30px 0px 30px;
  box-shadow: 3px 1px 13px white;

}

.materialPostBlack
{
  background: white;
  padding: 70px 50px;
  box-shadow: 3px 1px 13px black;
  text-align: justify;
    
  font 


}

.form-group .control-label, .form-group-default .control-label
{
  color: black;
}


.materialPost .control-label ,.materialPost h2 , .materialPost .form-control
{
  color: black !important;
  padding-left: 10px;
}

.text_landing{
   text-align: center;
   text-decoration: none;
}

.sectionText{
  
} 

.divclass{
  overflow-y:none;
}

.mogomogo{
  line-height: 50px;
  white-space: nowrap;
  max-width: 200px;
  margin-top: 15px;
}



a[href="http://editor.froala.com"] {
  display: none !important;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('/landing_resources/OpenSans-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('/landing_resources/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/landing_resources/OpenSans-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/landing_resources/OpenSans-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/landing_resources/OpenSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/landing_resources/OpenSans-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


footer li , footer a ,footer h1,footer h5 ,footer h2,footer h3
{
  list-style:   none;
  color:  white;
  
}

footer ul ,footer ul li
{
  padding:  0px !important  ;
}


footer li , footer h3
{
  text-align:   left;
}

footer h2
{
  margin: 20px;
}


footer .li 
{
  margin:   10px;
}


.footsection li {
  white-space: nowrap;
}

.parag_land{
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

.regauth{
  background-color: red;
}

footer{                                   
  position: relative;
  background-color: #111;
  box-shadow: 0px -6px 24px #111;
  overflow: hidden;
  

}

footer li
{
  font-size: 12px !important;
}

.footerreg{
      
  padding-top: 50px;  
    position: relative;
  background-color: #222;
  box-shadow: 0px -6px 24px white;
  overflow: auto;

      
    }
@media screen and (max-width: 991px) {
  .footsection {
    padding-left: 0;
  }
  .footsection h3 {
    text-align: center;
  }
  .footsection li {
    text-align: center;
  }
  .sm-center {
    text-align: center;
    margin: auto;
    width:100%;
    margin-left: 0 !important;
    padding-left: 0;
  }
  a[href="http://excelsior.su"] {
    margin:auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}

@media screen and (min-width: 1200 ) {
  .logo {
    width: 60px;
  }
  .mogogo {
    margin-top: 25px;
  }
  .footsection:nth-child(2) h3, .footsection:nth-child(2) li {
    text-align: center;
  }
  .footsection:nth-child(3) h3, .footsection:nth-child(3) li {
    text-align: center;
  }
}

p{
  font-size: 15px !important;
  font-family: Roboto !important;
}

footer a:hover
{
    color: #989292;
    text-decoration: none;
}


.fa
{
  margin: 0px 10px;
}

#madeBy
{
    width: 250px !important;
    float: right;
}

a:hover
{
  text-decoration: none !important;
}

input, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent !important;
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out" !important;
    -webkit-transition-delay: 9999s !important;
}

.tabs .tab a
{
  color: #0B0706 !important;
}

.tabs .indicator
{
  background-color: #0B0706 !important;
}

.myCard
{
    display: block;
    margin: 0 auto;    
    margin-top: 100px;
    float: none;
    padding: 2em 2em;

}


#loginLink
{
    background: #e6195e;
    height: 70px;
    box-shadow: 0px 0px 10px rgba(230, 25, 94, 0.66);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

#loginLink:hover,#loginLink a:hover
{
  color: white;
  height: 80px !important;
}

.displayBlock
{
  display: block !important;
}